body{
    height: 100%;
    margin: 0;
}

.title {
    margin: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: serif;
    color: white;
}

.todo-link {
    color: white;
    margin-left: 1%;
    text-decoration: none;
}

.todo-li {
    border: 1px solid blue;
    list-style: none;
    padding:1%;
    width: 95%;
}

.btn {
    background-color: rgb(6, 135, 255);
    width: 30%;
}

.btnDelete {
    background-color: rgb(248, 4, 4);
    width: 30%;
}

.btn:hover {
    background-color: rgb(0, 17, 11);
}

.btn-div {
    text-align: right;
    margin-right: 2%;
}

.header-container {
    display: flex;
    flex-direction: row; /* デフォルトなので必要ないかもしれませんが、明示的に指定 */
    justify-content: space-between; /* 適切な配置を調整 */
    align-items: center; /* 垂直方向の配置を調整 */
    background-color: blue;
}

.btnCreate {
    background-color: rgb(6, 135, 255);
    width: 130%;
    padding: 10%;
}