{% load static %}

<!DOCTYPE html>
    <html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>暗号化</title>
        <link href="{% static 'style.css'%}" rel="stylesheet">
    </head>

    <body>
        <form id="decryptionForm" method="post" action="{% url 'callPyApp:decryptView' %}">
            {% csrf_token %}
            <label for="data_input">Enter Data:</label>
            <input type="text" id="data_input1" name="data_input1" placeholder="encrypted sentence" required>
            <input type="text" id="data_input2" name="data_input2" placeholder="key to decrypt sentence" required>
            <button type="submit">Decrypt</button>
        </form>

        <div id="decrypted_result"></div>
        
    </body>