{% load static %}

<!DOCTYPE html>
    <html lang="ja">
    
        <head>
            <meta charset="utf-8">
            <meta name="viewport", content="width=device-width">
            <title>todoDelete</title>
            <link href="{% static 'todoStyleSheet/todoDeleteStyle.css' %}" rel="stylesheet">
        </head>

        <body>
            <div>本当にタスク：【{{ object.title }}】を削除しますか？</div>
            <div>
                <form action="", method="POST">{% csrf_token %}
                    <input type="submit" value="todoの削除を実行" class="btn-dlt">
                </form>
                <div class="btn-div"><button type="button" class="btn" onclick="window.location.href='{% url 'todoApp:todoListPage' %}'">ToDoListに戻る</button></div>
            </div>
        </body>

    </html>